@charset "utf-8";
/* 전체 레이아웃 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* 네비게이션 바 스타일 */
nav {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* 로그인 섹션 스타일 */
.section {
    padding: 20px;
    text-align: center;
}

#login-page{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.login-header, .signup-header {
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.login-form, .signup-form { 
    padding: 20px;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-group input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}


.signup-link {
    text-align: center;
    margin-top: 15px;
}


.signup-link a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}


.error-message {
    color: rgba(255, 0, 0, 0.729);
    text-align: center;
    margin-bottom: 10px;
}

/* 게임 선택 섹션 */
#games {
    background-color: #e9ecef;
}

.game-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.game-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.game-item a {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.game-item a:hover {
    background-color: #0056b3;
}

/* 게임 배너 애니메이션 */
.game-banner {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    animation: bannerAnimation 3s infinite;
}

@keyframes bannerAnimation {
    0% { background-color: #343a40; }
    50% { background-color: #007bff; }
    100% { background-color: #343a40; }
}

/* 푸터 스타일 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
