<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>벽돌깨기</title>
    <link rel="stylesheet" href= "/assets/css/gameStyles.css">
    <script src="/assets/js/BrickCrashGame.Js" defer></script>
</head>
<body>
      <!-- 네비게이션 바 -->
      <header>
        <nav>
            <ul>
                <li><a href="/index.html">홈</a></li>
                <li><a href="/index.html#games">게임 선택</a></li>
                <li><a href="/templates/login.html">로그인</a></li>
            </ul>
        </nav>
    </header>

    <section id="games" class="section">
        <h1>벽돌깨기 게임</h1>
        <div class="game-container">
            <!-- 게임 캔버스 -->
            <canvas id="gameCanvas" width="600" height="350"></canvas>
        
            <!-- 닉네임 및 점수 표시 -->
            <div class="game-info">
                <div>
                    <label>닉네임: <span id="nickname">Player1</span></label>
                </div>
                <div>
                    <label>점수: <span id="score">0</span></label>
                    <br>
                    <label>최고 점수: <span id="highScore">0</span></label>
                </div>
                
            </div>
            

            <!-- 시작 버튼 -->
            <button id="startButton">게임 시작</button>
            <div id="countdown" style="font-size: 24px; margin-top: 10px;"></div>
        </div>
        
        
    </section>
</body>
</html>
