<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>벽돌깨기</title>
    <link rel="stylesheet" href= "/assets/css/gameStyles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">홈</a></li>
                <li><a href="#games">게임 선택</a></li>
                <li><a href="login.html">로그인</a></li>
            </ul>
        </nav>
    </header>

    <section id="games" class="section">
        <h1>벽돌깨기 게임</h1>
        <div class="game-container">
            <!-- 게임 실행 칸 -->
            <div class="game-screen"></div>

            <!-- 닉네임 및 점수 표시 -->
            <div class="game-info">
                <div>
                    <label>닉네임: <span id="nickname">Player1</span></label>
                </div>
                <div>
                    <label>점수: <span id="score">99999999</span></label>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
